/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
/*   .img {
    
    height: auto;
    border-radius: 5px;
  } */
  
  
  .date {
    color: #00B894;
  } 
  
  .host {
    color: #00B894;
  }